<nav><p>National Parks</p></nav>
<main>
  <ul>
    <li>
      <img id="img_0"
        src="https://i.picsum.photos/id/283/536/354.jpg?hmac=-o9eIZEzdUmiQIE9OKjuZSqrZcXdIlqRR2oJDU7J2AQ"
        alt="Ciudad con edificios"
      />
      <p>Ciudad con edificios.</p>
    </li>
    <li>
      <img id="img_1"
        src="https://i.picsum.photos/id/26/536/354.jpg?hmac=mH-83ynI3fGS9Ok782H46YSrWd9SV8D5v-77RfTdI0I"
        alt="Kit del espía definitivo"
      />
      <p>Kit del espía definitivo.</p>
    </li>
    <li>
      <img id="img_2"
        src="https://i.picsum.photos/id/629/536/354.jpg?hmac=NWta_CV-ruzeQyb9CvcPbGAmrmMV66H8m9A2d_8rdpI"
        alt="Torre torcida"
      />
      <p>Torre torcida.</p>
    </li>
  </ul>
</main>
